//
//
// Config
//
//

$app-version: '0.0.1';

$grid: (
    'x-small': (
        'breakpoint': $mq-x-small,
        'columns': 4
    ),
    'small': (
        'breakpoint': $mq-small,
        'columns': 8
    ),
    'medium': (
        'breakpoint': $mq-medium,
        'columns': 12
    ),
    'large': (
        'breakpoint': $mq-large,
        'columns': 12
    )
) !default;

$css-prefix: 'mg-' !default;

$reset-wrapping-class: '.mg' !default;

$static-font-path: '../fonts/webfonts' !default;
