//
//
// Buttons - Stateful
//
//

.#{$css-prefix}button--neutral.#{$css-prefix}is-selected {
    background-color: transparent;
    border-color: transparent;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
        border: $border-width-thin solid $color-border-button-default;
        background-color: $color-background-button-default-hover;
    }

    &:active {
        background-color: $color-background-button-default-active;
    }
}

.#{$css-prefix}button__icon--stateful {
    @include square($square-icon-small-content);

    fill: currentColor;
}

.#{$css-prefix}button--inverse.#{$css-prefix}is-selected {
    border-color: transparent;
}

.#{$css-prefix}text-not-selected,
.#{$css-prefix}text-selected,
.#{$css-prefix}text-selected-focus,
.#{$css-prefix}is-selected[disabled]:hover .#{$css-prefix}text-selected,
.#{$css-prefix}is-selected[disabled]:focus .#{$css-prefix}text-selected {
    display: block;
}

.#{$css-prefix}not-selected .#{$css-prefix}text-selected,
.#{$css-prefix}not-selected .#{$css-prefix}text-selected-focus,
.#{$css-prefix}is-selected .#{$css-prefix}text-not-selected,
.#{$css-prefix}is-selected:not(:hover):not(:focus) .#{$css-prefix}text-selected-focus,
.#{$css-prefix}is-selected[disabled]:hover .#{$css-prefix}text-selected-focus,
.#{$css-prefix}is-selected:hover .#{$css-prefix}text-selected,
.#{$css-prefix}is-selected:focus .#{$css-prefix}text-selected {
    display: none;
}
