//
//
// Icons - Base
//
//

.#{$css-prefix}icon_container,
.#{$css-prefix}icon__container {
    @include deprecate('4.0.0', '#{$css-prefix}icon__container is deprecated. Use #{$css-prefix}icon_container instead.');

    border-radius: $border-radius-medium;
    display: inline-block;

    &--circle {
        border-radius: $border-radius-circle;
        padding: $spacing-x-small;
    }
}

.#{$css-prefix}icon {
    @include square($square-icon-medium-boundary);

    border-radius: $border-radius-medium;
    fill: $color-text-icon-inverse;
}

