//
//
// Buttons - Base
//
//

.#{$css-prefix}button {
    -webkit-appearance: none;
    background: transparent {
        clip: border-box;
    };
    border: $border-width-thin solid transparent {
        radius: $border-radius-medium;
    };
    color: $color-text-link;
    display: inline-block;
    font-size: $font-size-small;
    line-height: $line-height-button;
    padding: {
        left: $spacing-medium;
        right: $spacing-medium;
    }
    position: relative;
    text-decoration: none;
    transition:
        color $duration-immediately linear,
        background-color $duration-immediately linear;
    user-select: none;
    white-space: normal;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        text-decoration: none;
    }

    &:hover,
    &:focus {
        color: $color-text-link-hover;
    }

    &:focus {
        @include focus-button;
    }

    &:active {
        color: $color-text-link-active;
    }

    &[disabled] {
        color: $color-text-button-default-disabled;
    }

    &:hover,
    &:focus,
    &:active,
    &[disabled] {
        .#{$css-prefix}button__icon {
            fill: currentColor;
        }
    }

    & + .#{$css-prefix}button-group {
        margin-left: $spacing-xx-small;
    }

    & + .#{$css-prefix}button {
        @include deprecate('4.0.0') {
            margin-left: $spacing-xx-small;
        }
    }
}

.#{$css-prefix}button-space-left {
    @include deprecate('4.0.0', 'Use spacing utilities instead') {
        margin-left: $spacing-xx-small;
    }
}

a.#{$css-prefix}button {
    text-align: center;

    &:focus {
        @include focus-button;
    }
}

.#{$css-prefix}button__icon--left {
    margin-right: $spacing-x-small;
}

.#{$css-prefix}button__icon--right {
    margin-left: $spacing-x-small;
}

.#{$css-prefix}button--small {
    line-height: $line-height-button-small;
    min-height: $square-icon-medium-boundary;
}

.#{$css-prefix}button--neutral {
    @include button;
    @include button-base;

    // background-color: $color-background-button-default;
    color: #fff;

    &[disabled] {
        // background-color: $color-background-button-default-disabled;
        cursor: default;
    }
}

.#{$css-prefix}button--hint {
    color: $color-text-button-default-hint;

    &:hover,
    &:focus,
    &:active {
        color: $color-text-button-default;
    }
}

.#{$css-prefix}hint-parent {
    &:hover,
    &:focus {
        .#{$css-prefix}button--hint {
            color: $color-text-button-default;
        }
    }
}

.#{$css-prefix}button--brand {
    @include button;
    @include button-brand;

    &[disabled] {
        background: $color-background-button-brand-disabled;
        border-color: $color-border-button-brand-disabled;
        color: $color-text-button-brand-disabled;
    }
}

.#{$css-prefix}button--inverse {
    @include button;
    @include button-base;

    background-color: $color-background-button-inverse;

    &[disabled] {
        background-color: $color-background-button-inverse-disabled;
        border-color: $color-border-button-inverse-disabled;
    }
}

.#{$css-prefix}button--inverse,
.#{$css-prefix}button-group .#{$css-prefix}button--icon-inverse {
    &,
    &:link,
    &:visited {
        color: $color-text-button-inverse;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color-text-button-default;
    }

    &:focus {
        @include focus-inverse;
    }

    &[disabled] {
        color: $color-text-button-inverse-disabled;
    }
}

a.#{$css-prefix}button--inverse:focus {
    @include focus-inverse;
}

