//
//
// Icons - Icon colors
//
//

.#{$css-prefix}icon-text-default {
    fill: $color-text-icon-default; // @TODO - should we use currentcolor?
}

.#{$css-prefix}icon-text-warning {
    fill: $color-text-warning;
}

.#{$css-prefix}icon-text-error {
    fill: $color-text-error;
}
