//
//
// Forms - Inline form
//
//

.#{$css-prefix}form--inline {
    .#{$css-prefix}form-element,
    .#{$css-prefix}form-element__label,
    .#{$css-prefix}form-element__control {
        display: block;
    }

    .#{$css-prefix}form-element + .#{$css-prefix}form-element {
        margin-top: $spacing-small;
    }

    @include mq-small-min {
        .#{$css-prefix}form-element {
            margin-right: $spacing-x-small;

            + .#{$css-prefix}form-element {
                margin-top: 0;
            }
        }

        .#{$css-prefix}form-element,
        .#{$css-prefix}form-element__label,
        .#{$css-prefix}form-element__control {
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
        }
    }
}
