//
//
// Tabs - Scoped
//
//

.#{$css-prefix}tabs--scoped {
    @include tabs;

    &__nav {
        @include tabs-nav;

        background-color: $color-background;
        border: $border-width-thin solid $color-border-button-default;
        border-radius: $border-radius-medium $border-radius-medium 0 0;
    }

    @include deprecate('4.0.0') {
        .#{$css-prefix}tabs__item {
            margin-bottom: ($border-width-thin * -1);
            position: relative;

            + .#{$css-prefix}tabs__item {
                margin-left: ($border-width-thin * -1);
            }

            &:first-child > a {
                border-left: 0;
                border-radius: $border-radius-medium 0 0 0;
            }

            > a {
                @include tabs-link;

                background-clip: padding-box;
                border: {
                    left: $border-width-thin solid transparent;
                    right: $border-width-thin solid transparent;
                }
                color: $color-text-weak;
                height: $line-height-tab;
                line-height: $line-height-tab;
                padding: 0 $spacing-large;

                &:hover,
                &:focus {
                    border-color: $color-border;
                    color: $color-text-link-hover;
                    text-decoration: none;
                }
            }

            .#{$css-prefix}active > a {
                background-color: $color-background-alt;
                border-color: $color-border;
                color: $color-text-link;

                &:focus {
                    text-decoration: underline;
                }
            }
        }

        > .#{$css-prefix}tabs__content {
            background-color: $color-background-alt;
            border: $border-width-thin solid $color-border-button-default;
            border-radius: 0 0 $border-radius-medium $border-radius-medium;
            border-top: 0;
            padding: $spacing-medium;
        }
    }
}

.#{$css-prefix}tabs--scoped__item {
    margin-bottom: ($border-width-thin * -1);
    position: relative;

    + .#{$css-prefix}tabs--scoped__item {
        margin-left: ($border-width-thin * -1);
    }

    &:first-child .#{$css-prefix}tabs--scoped__link {
        border-left: 0;
        border-radius: $border-radius-medium 0 0 0;
    }
}

.#{$css-prefix}tabs--scoped__content {
    background-color: $color-background-alt;
    border: $border-width-thin solid $color-border-button-default;
    border-radius: 0 0 $border-radius-medium $border-radius-medium;
    border-top: 0;
    padding: $spacing-medium;
}

.#{$css-prefix}tabs--scoped__link {
    @include tabs-link;

    background-clip: padding-box;
    border: {
        left: $border-width-thin solid transparent;
        right: $border-width-thin solid transparent;
    }
    color: $color-text-weak;
    height: $line-height-tab;
    line-height: $line-height-tab;
    padding: 0 $spacing-medium;

    &:hover,
    &:focus {
        border-color: $color-border;
        color: $color-text-link-hover;
        text-decoration: none;
    }
}

.#{$css-prefix}active .#{$css-prefix}tabs--scoped__link {
    background-color: $color-background-alt;
    border-color: $color-border;
    color: $color-text-link;

    &:focus {
        text-decoration: underline;
    }
}
