//
//
// Typography
//
//

@mixin text-heading--label-normal {
    color: $color-text-weak;
    font-size: $font-size-small;
    line-height: $line-height-heading;
}

@mixin text-heading--label {
    @include text-heading--label-normal;

    text-transform: uppercase;
}
