//
//
// Interactions - Faux links
//
//

.#{$css-prefix}type-focus {
    border-bottom: $border-width-thin solid transparent;
    cursor: pointer;

    &:hover,
    &:focus {
        border-bottom: $border-width-thin solid $color-text-link-hover;
    }
}
